<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>商品信息管理</title>

    <link rel="stylesheet" href="/js/easyui1.5/themes/icon.css">
    <link rel="stylesheet" href="/js/easyui1.5/themes/default/easyui.css">
    <script src="/js/jquery-2.1.1.min.js"></script>
    <script src="/js/easyui1.5/jquery.easyui.min.js"></script>

</head>
<script type="text/javascript" th:inline="none">
    $(function(){
        getData();
    })
    function getData(){
        $("#table").datagrid({
            url:'/goods/getQueryGoods',
            striped:true,
            pagination:true,
            pageList:[3,4,5,6,7],
            pageSize: 4,
            /* 奇数偶数行不同颜色 start */
            rowStyler: function(index,row){
                if (index%2==0){
                    return 'background-color:#6293BB;color:#fff;';
                }else{
                    return "background-color:#ccfffcc;color:red;";
                }
            },
            /* 奇数偶数行不同颜色 end */
            columns:[[
                {field:'xxx',title:'复选框',width:50,checkbox:true},
                {field:'id',title:'id',width:100},
                {field: 'shp_mch',title: '商品名字',align: 'center'},
                {field: 'shp_tp',title: '商品图片',align: 'center',},
                {field: 'flbh1',title: '分类编号1',align: 'center',},
                {field: 'flbh2',title: '分类编号2',align: 'center',},
                {field: 'pp_id',title: '品牌id',align: 'center'},
                {field: 'chjshj',title: '创建时间',align: 'center'},
                {field: 'shp_msh',title: '商品描述',align: 'center'},
            ]],
            checkOnSelect:false,
        });
    }
</script>
<body>
    <div id="p">
        <a href="/goods/toView?viewName=goods-add">商品新增</a>
    </div>
    <table id="table" height="500" width="100%"></table>
</body>
</html>