<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <!--引入jquery 一定放在第一行  -->
    <script src="/js/jquery-2.1.1.min.js"></script>
    <!--引入kindedit的样式 -->
    <link rel="stylesheet" href="/js/kindeditor-4.1.10/themes/default/default.css"/>
    <script src="/js/kindeditor-4.1.10/kindeditor-all.js"></script>

    <!--引入easyui的样式 -->
    <link rel="stylesheet" href="/js/easyui1.5/themes/default/easyui.css" type="text/css"></link>
    <link rel="stylesheet" href="/js/easyui1.5/themes/icon.css" type="text/css"></link>

    <script type="text/javascript" src="/js/easyui1.5/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/js/easyui1.5/locale/easyui-lang-zh_CN.js"></script>
</head>
<script type="text/javascript" th:inline="none">
    $(function(){
        initDategrid(); //初始化数据表格控件
    });

    //------------------------------------------------------查询开始
    function initDategrid(){//初始化datagrid控件
        $('#dg').datagrid({    //调查时重新请求这个地址，把数据发送过去
            url:'/kc/getkucun',
            striped:true,
            toolbar: '#tb',
            pagination:true,
            pagePosition:top,
            pageList:[1,2,3,4,5,6,8,10],
            pageSize: 5, //默认显示多少条 这个值一定在pagelist中存在
            loadMsg:'正在加载,别着急',
            columns:[[
                {field:'xxx',title:'ID',width:'5%',checkbox:true},
                {field:'id',title:'ID',width:'5%'},
                {field:'shp_mch',title:'商品名称',width:150,editor:'text'},
                {field:'kc',title:'商品库存',width:80,align:'right'} ,
                {field:'jg',title:'商品价格',width:80,align:'right'} ,
            /*    {field:'chjshj',title:'创建时间',width:100,align:'right'},*/
                {field:'sku_mch',title:'商品简介',width:300,editor:'text'},
            ]],
            checkOnSelect:false,//-------如果为true，当用户点击行的时候该复选框就会被选中或取消选中。
                                // 如果为false，当用户仅在点击该复选框的时候才会呗选中或取消。

        });
    }
    //-------------------------------------------------------查询结束
</script>
<body>
<table id="dg" fit=true></table>
</body>
</html>