<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script src="/js/jquery-2.1.1.min.js"></script>
    <link rel="stylesheet" href="/js/easyui1.5/themes/icon.css">
    <link rel="stylesheet" href="/js/easyui1.5/themes/default/easyui.css">
    <script src="/js/easyui1.5/jquery.easyui.min.js"></script>
    <script src="/js/easyui1.5/locale/easyui-lang-zh_CN.js"></script>
    <script src="/js/layer/layer.js"></script>

</head>
<script type="text/javascript" th:inline="none">
    $(function () {
        getData();
        getCc1();
    })
    function getData(){
        $("#dg").datagrid({
            url:'/goodssx/getGoodsSx',
            striped:true,
            pagePosition:'both',
            pagination:true,
            pageList:[3,4,5,6,7],
            pageSize: 4,
            flbh2:cc2,
            /* 奇数偶数行不同颜色 start */
            rowStyler: function(index,row){
                if (index%2==0){
                    return 'background-color:#6293BB;color:#fff;';
                }else{
                    return "background-color:#ccfffcc;color:red;";
                }
            },
            /* 奇数偶数行不同颜色 end */
            columns:[[
                {field:'xxx',title:'复选框',width:50,checkbox:true},
                {field:'id',title:'id',width:100},
                {field:'shxm_mch',title:'名称',width:100},
                {field:'chjshj',title:'chjshj',width:100},
                {field:'shxzh',title:'shxzh',width:300
                },
            ]],
            checkOnSelect:false,
        });
    }

    var cc1=0;
    var cc2=0;
    function getCc1() {
        $('#cc1').combobox({
            url:'/json/class_1.js',
            method:'get',
            valueField:'id',//<select> <option value='obj.id' > obj.name</select>    $([],functtion(index,obj){})
            textField:'flmch1',
            onChange:function(newValue, oldValue){//newValue 就是选中的id
                console.log(newValue);
                cc1=newValue;
                console.log("cc1==="+cc1);
                getSecond(newValue);
                /*ajax start*/
                    // $.ajax({
                    //     url:"/goodssx/getGoodsSx",
                    //     type:"POST",
                    //     data:{id:newValue},
                    //     success:function(a){
                    //         layer.msg("查询成功!");
                    //     },
                    //     error:function(){
                    //         layer.msg("ajax失败");
                    //     }
                    // });
                /*ajax end*/

            }
        });
    }
    function getSecond(pid){
        $('#cc2').combobox({
            url:"/json/class_2_"+pid+".js",
            method:'get',
            valueField:'id',//<select> <option value='obj.id' > obj.name</select>    $([],functtion(index,obj){})
            textField:'flmch2',  //<select> <option > xxx  </option> </select>
            onChange:function(newValue, oldValue){//newValue 就是选中的id
                console.log(newValue);
                cc2=newValue;
                console.log("cc2===="+cc2)
                queryCondition();
                layer.msg("查询成功");
            }
        });
    }
    function queryCondition() {
        //加载数据  直接发送一个对象
        $('#dg').datagrid('load', serializeFrom2Obj($("#query_form")));
    }

    //把表单转换为一个对象
    function serializeFrom2Obj(obj) {
        var o = {};
        var a = obj.serializeArray();//[{name:'price',value='12'},{},{}]
        $.each(a, function () {
            if (o[this.name] !== undefined) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    }
</script>
<body>
<form id="query_form">
    <select id="cc1" value="-1" class="easyui-combobox" name="id" style="width:200px;">
    </select> <br />
    <select id="cc2" value="-1" class="easyui-combobox" name="flbh2" style="width:200px;">
    </select>
</form>
<table id="dg" height="500" width="100%"></table>
</body>
</html>